* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* main collage contianer */
.main-container {
  margin-left: 51.8px;
  margin-right: 22px;
  margin-bottom: 74.7px;
  width: 639px;
  height: 377px;
  /* border: 1px solid black; */
}

/* for image  */
.top-container {
  background: url("../images/college_02.jpg");
  position: relative;
  height: 233px;
  width: 639px;
  background-size: cover;
}

/* for blur effect */
.img-blur {
  height: 233px;
  width: 639px;
  background-color: black;
  opacity: 0.7;
  color: white;
}

/* For collage tag */
.collage-tag {
  height: 34px;
  width: 135px;
  font-size: 10px;
  padding: 10px;
  border: 1px solid black;
  background-color: white;
  color: black;
  border-radius: 40px;
  position: absolute;
  bottom: 10.8px;
  left: 14.3px;
}

/* For Path Tag */
.path-tag {
  height: 34px;
  width: 93px;
  font-size: 10px;
  padding: 10px 11px 11px 17px;
  border: 1px solid black;
  background-color: white;
  color: black;
  border-radius: 40px;
  position: absolute;
  bottom: 10.8px;
  left: 156.3px;
}

/* For Ranking of the collage */
.ranking {
  position: absolute;
  right: 14px;
  bottom: 20.8px;
  color: white;
}

/* For rating box */
.rating {
  height: 53px;
  width: 75px;
  position: absolute;
  right: 13px;
  top: 28.3px;
  background-color: #f5a626;
  border-radius: 3.8px;
  text-align: center;
  color: white;
  font-weight: 700;

  /* margin-top: 10px; */
}

/* for rating cut-off */
.rating .out-off {
  align-items: center;
  font-size: 12px;
}

/* for collage remark */
.rating .remark {
  font-size: 12px;
}

/* For promoted */
.promoted {
  width: 152px;
  position: absolute;
  right: 0;
  top: -17.5px;
  background-color: #68a7ff;
  text-align: center;
  padding: 10px;
  color: white;
}

/* for arrow before promotion */
.promoted:before {
  content: "";
  width: 0;
  height: 0;
  border-top: 32px solid transparent;
  border-left: 40px solid transparent;
  border-bottom: 32px solid #68a7ff;
  position: absolute;
  right: 141px;
  top: -26px;
}
/* For arrow before promotion */
.arrow {
  width: 0;
  height: 0;
  border-bottom: 30px solid transparent;
  border-left: 40px solid transparent;
  border-top: 30px solid #68a7ff;
  position: absolute;
  right: 140px;
  top: -17px;
}

/* desing the bottom container */
.bottom-container {
  position: relative;
  height: 143.2px;
  width: 639;
  border: 1px solid lightgrey;
}

/* For collage name */
.collage-name {
  position: absolute;
  top: 18.2px;
  left: 16.3px;
  font-size: 17px;
}

.stars {
  position: absolute;
  right: 230px;
  top: 18.6px;
}

/* for collage address container */
.collage-address {
  position: absolute;
  top: 46.2px;
  left: 16.3px;
}

/* collage name first part */
.collage-address .street {
  font-size: 13px;
}

/* collage name second part */
.collage-address .path {
  font-size: 13px;
  color: #adadad;
}

/* For near path container */
.path-match {
  position: absolute;
  top: 76.2px;
  left: 16.3px;
  font-size: 13px;
}

/* for near path part one */
.path-match .match {
  color: #37b396;
}

/* for near path part 2 */
.path-match .near-path {
  color: #adadad;
}

/* for discount container */
.discount {
  position: absolute;
  height: 35px;
  width: 347px;
  top: 98.2px;
  background-color: #ccf5e7;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

/* for discount upto */
.discount .upto {
  position: absolute;
  font-size: 12px;
  margin-left: 17px;
  top: 9px;
}

/* Right container Style */

/* fee discount */
.fee-discount {
  position: absolute;
  right: 27px;
  top: 12px;
  font-size: 10px;
}

/* original fee style */
.fee-discount .original-fee {
  position: absolute;
  text-decoration: line-through;
  right: 29px;
}

/* original discount deisign */
.fee-discount .original-discount {
  /* height: 14px;
  width: 29px; */
  background-color: red;
  color: white;
  padding: 1px;
  font-weight: 600;
}

.dot {
  position: absolute;
  height: 3px;
  width: 3px;
  border-radius: 50%;
  background-color: white;
  top: 5px;
  right: 15px;
  /* margin: 3px; */
}

/* For arrow before the discount panel */
.original-discount:before {
  content: ".";
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7.5px solid transparent;
  border-right: 8px solid red;
  position: absolute;
  right: 15px;
  top: -1.5px;
  color: white;
}

/* fee container */
.fee-container {
  position: absolute;
  bottom: 66px;
  right: 27px;
  font-size: 10px;
}

/* original fee design */
.fee-container .fee {
  position: absolute;
  bottom: 10px;
  right: 0px;
  font-size: 26px;
  color: #dd1c26;
  font-weight: 800;
}

/* fee span desing */
.fee-container span {
  color: grey;
}

/* amenties design */
.benefit {
  position: absolute;
  bottom: 24px;
  right: 27px;
  color: #37b396;
  font-size: 10px;
  font-weight: 700;
}

/* icon star style */
.icon-star {
  color: lightgray;
}

.active {
  color: #444444;
}

/* icon design */
.icon {
  position: absolute;
  top: 1px;
  text-decoration: line-through;
  right: 27px;
}
